{% extends 'base.html' %}
{% load static %}
{% block title %}
Netflix 
{% endblock title %}

{% block others %}
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
{% endblock others %}
{% block content %}
    {% include 'partials/navbar_loggedin.html' %}
    <main class='bg-primary_black min-h-screen w-full'>
        <section class="h-screen relative bg-no-repeat pb-8 pl-6 flex  items-end bg-cover" style="background-image: url('https://image.tmdb.org/t/p/original{{show_case.poster_path}}'), url('/../static/not_found_big.jpg');">
            <div>
                <h2 class="text-6xl font-semibold text-white my-4">
                    {{show_case.title}}
                </h2>
                <p class=" w-11/12 md:w-5/12 font-medium text-white my-4">
                    {{show_case.overview | slice:":50"}}...
                </p>
                <div class="flex my-4">
                    
                        <button class="flex items-center bg-white py-2 px-5 rounded-md" style='color:black;'>
                            <ion-icon name="play" class="text-2xl"></ion-icon>
                            <span class="ml-3 font-medium " >
                                Play
                            </span>
                        </button>

                    <a href="{% url 'core:show_det' profile_id=profile.uuid movie_id=show_case.id %}">
                        <button class="ml-4 text-white flex items-center bg-gray-500 bg-opacity-80 py-2 px-5 rounded-md">
                        
                            <ion-icon name="information-circle-outline" class="text-2xl" ></ion-icon>
                            <span class="ml-3 font-medium">
                                More Info
                            </span>
                        </button>
                    
                    </a>
    
                </div>
            </div>
        </section> 
       <br><br>
                <h2 class="text-6xl font-semibold text-white my-4">
                    &emsp;&emsp; {{movie_genre}} Movies
                </h2>
                <br>
                <div class="container">
                    <section class='movies'>
                        <div class="movies-grid" >
                
                {% if movies %}
                {% for movie in movies %}
                <div class="movie-card">
                    <a href="{% url 'core:show_det' profile_id=profile.uuid movie_id=movie.id %}">

                    <div class="card-head">
                            <img src="https://image.tmdb.org/t/p/w185{{movie.poster_path}}" class="flex" alt="" onerror=this.src="{% static 'not_found.jpg' %}" class="img-responsive" style="border-radius: 5px 5px 5px 5px;">
        
                      <div class="card-overlay">
        
                        <div class="bookmark">
                          <ion-icon name="bookmark-outline"></ion-icon>
                        </div>
        
                        <div class="rating">
                          <ion-icon name="star-outline"></ion-icon>
                          <span>{{movie.vote_average}}</span>
                        </div>
        
                        <div class="play">
                          <ion-icon name="play-circle-outline"></ion-icon>
                        </div>
        
                      </div>
                    </a>

                    </div>
        
                    <div class="card-body">
                      <h3 class="card-title">{{movie.title}}</h3>
        
                      <div class="card-info">
                        <span class="genre">{{movie.genre}}</span>
                        <span class="year">{{movie.year}}</span>
                      </div>
                    </div>
        
                </div>
                {% endfor %}
                {% endif %}
            </div>
            </div>
        </section>
        
        
    </main>
</div>


{% endblock content %}
